apiVersion: apps/v1
kind: Deployment
metadata:
  name: challenge
spec:
  replicas: 3
  selector:
    matchLabels:
      app: challenge
  template:
    metadata:
      labels:
        app: challenge
    spec:
      containers:
      - name: challenge
        image: stuwatts/challenge:v1.1
        imagePullPolicy: Always
        env:
          - name: APIKEY
            valueFrom:
              secretKeyRef:
                name: challenge-secret
                key: apikey
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
        ports:
        - containerPort: 8080
